# No third-party Python packages. The pipeline uses only the Python 3
# standard library (json, urllib, hashlib, re, dataclasses, pathlib, math,
# unittest) to talk to the local Ollama HTTP API. See LICENSES.md.
